node_modules
lib
lib/forge-std
broadcast
#Hardhat files
cache
artifacts
.env
abi/
*.xml
*.iml
*.log
.vscode
.idea/
.DS_Store
coverage.json
coverage/

.openzeppelin/unknown-31337.json
test_sor/.openzeppelin/unknown-31337.json
test_unxswap/.openzeppelin/unknown-31337.json
test_unxswapV3/.openzeppelin/unknown-31337.json
test_pmm/.openzeppelin/unknown-31337.json
dex_router_v2_test/.openzeppelin/unknown-31337.json
src/tests/calculate.ipynb
src/tests/Dexrouter.t.sol
.gas-snapshot
coverage.json
artifacts/

