name: coverage
on:
  pull_request:
    branches:
      - dev
jobs:
  coverage-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install
      - run: npx hardhat --config hardhat.config.js compile
      - run: npx hardhat --config hardhat.config.5.js compile
      - run: npx hardhat coverage --testfiles "test_pmm/test*.js" --solcoverjs ./solcover.js
      - run: npx hardhat coverage --testfiles "test_sor/test_dex_sor_path.js" --solcoverjs ./solcover.js
